$white: #ffffff;
$footer-background-color: #3f3f3f;
$footer-padding: 2rem 1.5rem;
$card-header-background-color: $white;
$box-padding: 1rem;
$primaryGrey: #E8EDE5;
$primaryRed: #d60c0c;

@import '~bulma/bulma.sass';


/*------>HOME PAGE STYLING<--------*/
.hero {
  background-image: url('https://i.imgur.com/GP4qP5e.png');
  background-size: cover;
}

.hero.is-large {
  .hero-body {
    padding-top: 15rem;
    padding-bottom: 150px;
      .title{
        font-size: 56px;
        font-weight: bold;
        line-height: initial;
      }
      .style {
        color: #E8B50A;
      }
    .buttons {
      .button:not(:last-child):not(.is-fullwidth) {
        padding: 25px;
        width: 180px;
        color: #ffffff;
      }
      .button.is-danger {
        color: #ffffff;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 0;
        background-color: #d60c0c;
      }
      .button.is-outlined.is-rounded {
        color: #ffffff;
        font-weight: bold;
        padding: 25px;
        width: 180px;
        margin-bottom: 0;
        background-color:transparent;
      }
    }
  }
}


/*------>NAVBAR STYLING<--------*/
.navbar {
  .navbar-item img {
    max-height: none;
    width: 100px
  }
  .navbar-item, .navbar-link {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
  }
  .button.is-danger {
    background-color: $primaryRed;
  }
  .login-register {
    max-width: 50%;
    color: Grey;
    margin-top: 30px;
    font-size: 14px;
    font-weight: bold;
  }
  .button.is-rounded {
    width: 120px;
    margin-top: 13px;
    font-weight: bold;
  }
  .buttons .button:not(:last-child):not(.is-fullwidth) {
    width: 120px;
    color: #000000;
  }
  .buttons:last-child {
    margin-bottom: 5px;
  }
  .navbar-item, .navbar-link {
    margin-right: 30px;
  }
  .navbar-item img {
    margin-left: 30px;
  }
  .navbar-item, .navbar-link.find-hanqout {
    margin-right: 30px;
  }
}


/*------>INDEX PAGE STYLING<--------*/
.index-page {
  .hero.is-medium.is-link {
    background-image: url(./assets/indexhero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px;
    height: 400px;

    .hero.is-medium .hero-body {
      margin-top: -50px;
    }
    .hero.is-link {
      color: #000000; 
      font-size: 14px;
      font-weight: bold;
    }
    .hero.is-link.title.subtitle{
      margin-left: -75px;
    }
    .container.columns.is-multiline {
      display: flex !important; 
      flex-wrap: wrap !important;
    }
    .hero-body {
      margin-left: -70px;
      .create-btn .is-rounded {
        background-color: $primaryRed;
        font-weight: bold;
      }
    }
    .dropdown.is-active {
      .dropdown-trigger {
        font-weight: bold;
        .select.is-warning select {
          margin-right: 50px;
          width: 180px;
        }
        .select.is-warning:not(:hover)::after {
          margin-right: 50px;
        }
      }
    }
  }
}


/*------>HANQOUT SHOW PAGE STYLING<--------*/
.show-page {
  .card {
    height: 410px !important;
    .card-content.join-btn.button.is-danger.is-light{
      font-weight: bold;
      font-size: 14px;
    }
    .button.is-danger.is-light {
      display: flex;
      margin-bottom: 10px;
    }
    .image img {
      height: 160px;
    }
  }
}
.hero.is-link a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current), .hero.is-link strong {
  font-size: 14px;
}
